/* Menghapus margin dan padding default dari browser */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Mengatur agar div peta memenuhi seluruh layar */
#map {
    height: 100vh; /* 100% dari tinggi viewport */
    width: 100vw;  /* 100% dari lebar viewport */
}